/*

selector { 
    propiedad: valor;


}
*/



body{
    background-color: #5eb959;
    color:rgb(179, 7, 7);
}

main {

    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;


}

header{

    font-size:12px;

}

h1 {
    font-size: 30px;
font-family: "forma-djr-display", sans-serif;
font-weight: 900;
font-style: normal;
text-shadow: 2px 2px 5px rgba(12, 35, 241, 0.3);
text-align: center;

}


h2{
font-size:3rem;
font-family: "forma-djr-display", sans-serif;
font-weight: 500;
font-style: normal;
text-align: center;


}

h3{
font-size:3em;
font-family: "forma-djr-display", sans-serif;
font-weight: 500;
font-style: normal;
text-transform: capitalize;
}

h4{
text-align: center;



}

.glitch{
  font-size: 3rem;
  font-weight: bold;
  color: white;
  position: relative;
}


.glitch::before,
.glitch::after{
  content: "lorem";
  position: absolute;
  left: 0;
}

.glitch::before{
  color: red;
  animation: glitch1 0.3s infinite;
}

.glitch::after{
  color: cyan;
  animation: glitch2 0.3s infinite;
}

@keyframes glitch1{
  0%{ transform: translate(2px, -2px); }
  100%{ transform: translate(-2px, 2px); }
}

@keyframes glitch2{
  0%{ transform: translate(-2px, 2px); }
  100%{ transform: translate(2px, -2px); }
}

pre {

    text-shadow: 0px 3px 0px red    ;
}