/*

selector { 
    propiedad: valor;


}
*/

/* root es la RAÍZ del documentoo*/



  .archivo-black-regular {
      font-family: "Archivo Black", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    

:root {

  --font-family: "forma-djr-display", sans-serif;
  --font-title: "Archivo Black", sans-serif;
  --accent-color: rgb(255, 238, 0);
  --background-color: rgb(138, 138, 254);
  --text-color: rgb(230, 78, 169);


}

html {

  font-size: 10 px;

}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1.0em;

}

h1, h2, h3 {

font-family: var(--font-title);
text-transform: lowercase;

}

h1 {


box-sizing: border-box;
marg
font-size: 1.5em;

}

h2 {

  font-size: 1.6em;

}


h3 {

  font-size: 1.5em;

}


 .titulo-principal {

      font-size: 3.5rem;              /* tamaño inicial */
      text-align: center;
      transition: all 0.9s ease;      /* animación suave */
      color: #ff0000;                    
      cursor: default;  
      }/* cursor normal */


      .titulo-principal:hover {
        font-size: 5.2rem; 
        text-align: center;
        /* aumenta de tamaño */
        text-shadow: 0 0 15px rgb(255, 255, 237),
                     0 0 30px rgb(0, 4, 255); /* brillo */
        color: rgb(111, 230, 248); /* color del icono */
    }
/*

main {

  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;


}

header {

  font-size: 12px;

}

h1 {
  font-size: 30px;
  font-family: "forma-djr-display", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-shadow: 2px 2px 5px rgba(12, 35, 241, 0.3);
  text-align: center;

}


h2 {
  font-size: 3rem;
  font-family: "forma-djr-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;


}

h3 {
  font-size: 3em;
  font-family: "forma-djr-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: capitalize;
}

h4 {
  text-align: center;

}*/


strong {

margin-left: 1em;
text-align: center;

}

a {

  /*filter: invert(1); */


} 

a:visited {

  color: var(--text-color);
  opacity: .8;
}

a:focus {

  color: var(--text-color);
  opacity: .8;
}

a:visited {

  color: var(--text-color);

}

a:active {

  color: var(--text-color);

}

a:hover {

  color: var(--text-color);
  opacity: .8;
}

.glitch {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  position: relative;
}


.glitch::before,
.glitch::after {
  content: "lorem";
  position: absolute;
  left: 0;
}

.glitch::before {
  color: red;
  animation: glitch1 0.3s infinite;
}

.glitch::after {
  color: cyan;
  animation: glitch2 0.3s infinite;
}

@keyframes glitch1 {
  0% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(-2px, 2px);
  }
}

@keyframes glitch2 {
  0% {
    transform: translate(-2px, 2px);
  }

  100% {
    transform: translate(2px, -2px);
  }
}

pre {

  text-shadow: 0px 3px 0px red;
}