/*

selector { 
    propiedad: valor;


}
*/

body{
    background-color: #5eb959;
    color:rgb(179, 7, 7);
}

header{

    font-size:12px;

}

h1 {
    font-size: 30px;
font-family: "forma-djr-display", sans-serif;
font-weight: 900;
font-style: normal;
text-shadow: 2px 2px 5px rgba(12, 35, 241, 0.3);


}

h2{
font-size:3em;
font-family: "forma-djr-display", sans-serif;
font-weight: 500;
font-style: normal;


}

h3{
font-size:3em;
font-family: "forma-djr-display", sans-serif;
font-weight: 500;
font-style: normal;
text-transform: capitalize;
}
