/*

selector { 
    propiedad: valor;


}
*/

body{
    background-color: #5eb959;
    color:rgb(179, 7, 7);
}

h1 {
font-family: "forma-djr-display", sans-serif;
font-weight: 900;
font-style: normal;


}

h2{
    font-family: "forma-djr-display", sans-serif;
font-weight: 500;
font-style: normal;
}

